//main styling

.body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-out 0.3s;
}

.app {
  width: 540px;
  max-height: 600px;
  margin: 0px 20px;
}

@media screen and (max-width: 375px) {
  .dark {
    background-image: url("../images/bg-mobile-dark.jpg");
  }

  .bright {
    background-image: url("../images/bg-mobile-light.jpg");
  }
}
